<div class="col">
    <div class="card h-100">
        <div class="card-header text-end">
            Id: <span class="badge bg-warning text-dark">
                <%= item.id %>
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <%= item.nombre %>
            </h5>
            <p class="card-text"><strong>Materia:</strong>
                <%= item.materia_nombre %>
            </p>
            <p class="card-text text-end"><strong>Promedio:</strong>
                <small><%= item.promedio %></small>
            </p>
        </div>
        <div class="card-footer text-center"><a href="#" class="btn btn-primary btn-sm">Detalles</a></div>
    </div>
</div>
